.env
.vscode/settings.json
api/.DS_Store
/api/src/CandyStore/.idea
/api/src/CandyStore/Candy.API/obj
/api/src/CandyStore/Candy.API/obj
api/src/CandyStore/Candy.API/obj/Candy.API.csproj.nuget.dgspec.json
/api/src/CandyStore/Candy.BLL/obj
client/.DS_Store
client/src/.DS_Store
client/src/app/.DS_Store
api/src/CandyStore/Candy.DAL/obj/rider.project.restore.info
api/src/CandyStore/Candy.DAL/obj/rider.project.model.nuget.info
api/src/CandyStore/Candy.DAL/obj/Release/net9.0/Candy.DAL.GeneratedMSBuildEditorConfig.editorconfig
api/src/CandyStore/Candy.DAL/obj/Release/net9.0/Candy.DAL.assets.cache
api/src/CandyStore/Candy.DAL/obj/Release/net9.0/Candy.DAL.AssemblyInfoInputs.cache
/api/src/CandyStore/Candy.DAL/obj/Release
/api/src/CandyStore/Candy.DAL/obj/Release/net9.0
